* {
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

form{
  position: relative;
  padding: 20px;
}

form input{
  width: 45%;
  height: 45px;
  padding: 12px;
  color: #111111;
  position: relative;
  border-radius: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}
 form input:focus{
  outline: none;
  border-color: #0d75ec;
}
#Lisää {
  width: 100px;
  height: 40px;
  color: black;
  background-color: #0d75ec;
}
    ul li {
        cursor: pointer;
        position: relative;
        padding: 20px 10px;
        font-size: 20px;
        list-style: none;
        border-width: 5px;
        border-radius: 20px;
        background-color: #ecdada;
        max-width: 400px;
      
    }
  
  ul li:hover {
    background: rgb(203, 152, 152);
    border-width: 5px;
    border-radius: 20px;
  }
   
  

  button {
  width: 25px;
  height: 25px;
  color: black;
  background-color: #454c54;
  
  }

  
  input[type=checkbox]{
  width: 20px;  
  height: 20px;
  }
  

  input::placeholder{
    color: #734a4a;

  }


  

  

 

  
  